Source: dhis2-tools
Section: java
Priority: optional
Maintainer: DHIS2 developers <dhis2-devs@lists.launchpad.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://dhis2.org

Package: dhis2-tools
Architecture: all
Depends: postgresql-client,tomcat8-common,netcat,libtcnative-1,openssl,unzip
Description: Tools for managing dhis2 on ubuntu
 This package contains a set of tools to assist with
 the installation and maintenance of the dhis2 (http://dhis2.org)
 software on ubuntu server.
